@use '_variables' as *;
@use '_mixins' as *;

body {
    font-family: 'Avenir Next Regular', 'Verdana', 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;
    width: 100vw;
}

h1, h2, h3, h4, h5, p { 
    font-family: 'Avenir Next Regular', 'Verdana', 'Open Sans', sans-serif;
    color: #323232;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;

    @include tablet {
        font-weight: 700;
    }
}

h1 {
    font-size: 24px;
    line-height: 32px;

    @include tablet {
        font-size: 60px;
        line-height: 68px;
    }
}

h2 {
    font-size: 24px;
    line-height: 32px;

    @include tablet {
        font-size: 36px;
        line-height: 44px;
    }
}

h3 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;

    @include tablet {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
}

h4, p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    @include tablet {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }
}

h5 {
    font-size: 10px;
    line-height: 20px;

    @include tablet {
        font-size: 12px;
        line-height: 20px;
    }
}